/* Besley info css */

.section__creator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    '.'
    'creator__title'
    'creator__content'
    'creator__registered'
    'creator__banner';
  min-height: 100vh;
  width: 100vw;
}

.creator__r-container {
  display: none;
}

.creator__lines {
  height: 2vh;
  width: 100vw;
  border-top: .2rem solid var(--colorSecondary);
  border-bottom: .4rem solid var(--colorSecondary);
}

.creator__title {
  grid-area: creator__title;
  margin: auto;
  /* padding-top: 10vh; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__img {
  width: 90vw;
  height: auto;
}

.creator__title > p {
  color: var(--colorMain);
  font-size: var(--fontSmall);
  text-align: center;
  margin: 1vh auto;
}

.creator__content {
  grid-area: creator__content;
  margin: 0 auto;
  width: 20rem;
  font-size: var(--fontRegular);
  text-align: center;
}

.creator__registered {
  grid-area: creator__registered;
  font-size: var(--fontMedium);
  font-weight: var(--fontWeightBold);
  color: var(--colorMain);
  text-align: center;
  margin: 1vh;
}

.creator__banner {
  grid-area: creator__banner;
  align-self: flex-end;
  height: 7vh;
  width: 100vw;
  border-top: .3rem solid var(--colorSecondary);
  border-bottom: .3rem solid var(--colorSecondary);
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--colorBg);
}

.scroll-holder {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 200%;
  background-color: var(--colorBg);
  z-index: 10;
}

.scroll {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.banner__content {
  height: 5vh;
  font-size: 1.5rem;
  animation: banner 20s linear infinite;
  font-family: var(--font);
  text-transform: uppercase;
  padding: 1vh 0;
}

.space::after {
  content: '\00a0';
}

@keyframes banner {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .section__creator {
    grid-template-rows: 1fr .5fr .5fr .5fr;
    grid-template-areas:
      'creator__title'
      'creator__content'
      'creator__registered'
      'creator__banner';
  }

  .creator__title {
    margin: 0;
    justify-content: flex-end;
  }

  .title__img {
    width: 80vw;
    height: auto;
  }

  .creator__title > h1, .title__clarendon {
    font-size: 4.5rem;
  }

  .creator__title > p {
    font-size: var(--fontRegular);
  }

  .creator__registered {
    font-size: var(--fontBig);
    line-height: 2rem;
    font-weight: bold;
  }

  .creator__registered > br {
    display: none;
  }

  .creator__content {
    font-size: var(--fontMedium);
    line-height: 2rem;
    margin: auto;
    width: 43rem;
    padding: 5vh 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .section__creator {
    grid-template-rows: 1fr .5fr .5fr .5fr;
    grid-template-areas:
      'creator__title'
      'creator__content'
      'creator__registered'
      'creator__banner';
  }

  .creator__title {
    margin: 0;
    justify-content: flex-end;
  }

  .creator__title > h1, .title__clarendon {
    font-size: 4.5rem;
  }

  .creator__title > p {
    font-size: var(--fontRegular);
  }

  .creator__registered {
    font-size: var(--fontBig);
    line-height: 2rem;
    font-weight: bold;
  }

  .creator__content {
    font-size: var(--fontMedium);
    line-height: 2rem;
    margin: auto;
    width: 43rem;
  }
}

/* Desktop landing page */
@media only screen and (min-width: 1025px) {

  .section__creator {
    grid-template-rows: 3fr 1fr 1fr .5fr;
    grid-template-areas:
      'creator__title'
      'creator__content'
      'creator__registered'
      'creator__banner';
  }

  .creator__title {
    padding: 25vh 0 10vh;
  }

  .title__img {
    width: 70vw;
    height: auto;
  }

  .creator__title > h1, .title__clarendon {
    font-size: 6rem;
  }

  .creator__title > p {
    font-size: var(--fontMedium);
  }

  .creator__registered {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
  }

  .creator__registered > br {
    display: none;
  }

  .creator__content {
    font-size: var(--fontBig);
    line-height: 2.5rem;
    width: 49rem;
    /* padding: 5vh 0; */
  }
}
