/* Bounty section */

.section__bounty {
  margin: 15vh auto;
}

.bounty__board {
  height: 90vh;
  width: 90vw;
  margin: auto;
  padding: 5vh 0;
  border: .2rem solid var(--colorMain);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .board__rules {
    font-family: var(--font);
  }
}

.board__game {
  width: 90%;
  height: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  perspective: 800px;
}

.game__text {
  font-size: var(--fontRegular);
  text-transform: uppercase;
  font-family: var(--font);
  font-weight: bold;
}

.card {
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  border-radius: 1rem;
  /* background-color: turquoise; */
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.front {
  transform: rotateY(-180deg);
}

.back {
  border-radius: 1rem;
  backface-visibility: hidden;
  background-color: var(--colorSecondary);
}

.toggleCard {
  transform: rotateY(180deg);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .bounty__board {
    height: 70vh;

    & .board__rules {
      font-size: var(--fontMedium);
    }
  }
}

/* Tablet landscape*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .bounty__board {
    height: 80vh;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {

  .bounty__board {
    height: 90vh;

    & .board__rules {
      font-size: var(--fontBig);
    }
  }

  .board__game {
    width: 80%;
    height: 90%;
    grid-gap: 2rem;
  }

  .game__text {
    font-size: var(--fontMedium);
  }
}
