/* Characteristics css */

.section__characteristics {
  position: relative;
}

.semi-oval {
  position: absolute;
  top: -20vh;
  width: 100vw;
  height: 10vh;
  filter: blur(3.5rem);
  background-color: var(--colorSecondary);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: rotate(180deg);
}

.characteristics__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'left right'
    'for for'
    'advertising advertising'
    'announcements announcements'
    'displays displays';
  width: 80vw;
  height: 30vh;
  margin: 20vh auto;
  color: var(--colorSecondary);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid__top-left {
  grid-area: left;
  border-right: .4rem dotted var(--colorSecondary);
}

.grid__top-right {
  grid-area: right;
}

.grid__top-right, .grid__top-left {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vh;
}

.bold, .face, .softer {
  color: var(--colorMain);
}

.for {
  grid-area: for;
  font-size: 1rem;
  margin: auto;
  width: 100%;
}

.for::before, .for::after {
  display: inline-block;
  content: '';
  height: .2rem;
  width: 25%;
  background: var(--colorSecondary);
  margin: .2rem 1rem;
}

.advertising {
  grid-area: advertising;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.announcements {
  grid-area: announcements;
  color: var(--colorMain);
}

.displays {
  grid-area: displays;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.characteristics__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;

  & .characteristics__title {
    font-size: 1.5rem;
    margin: 0 auto 5vh;
    color: var(--colorSecondary);
    text-align: center;
  }

  & .characteristics__img {
    width: 65vw;
    height: auto;
    margin: 2vh auto;
    text-align: center;
  }
}

.characteristics__text {
  margin: 1vh auto;
  width: 80vw;
  line-height: 1.2;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .characteristics__grid {
    gap: .5rem;
    height: 40vh;
    width: 80vw;
    font-size: 2rem;
  }

  .grid__top-right, .grid__top-left {
    height: 15vh;
  }

  .for::before, .for::after {
    width: 40%;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__container {

    & .characteristics__title {
      font-size: 2rem;
    }

    & .characteristics__img {
      width: 50vw;
      margin: 2vh auto;
      text-align: center;
    }

    & p {
      /* width: 100%; */
      width: 60vw;
      font-size: var(--fontMedium);
      line-height: 1.4;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .characteristics__grid {
    gap: .2rem;
    width: 35rem;
    font-size: 2rem;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__container {

    & .characteristics__title {
      font-size: 2rem;
    }

    & .characteristics__img {
      width: 50vw;
    }

    & p {
      width: 60vw;
    }
  }
}

/* Desktop landing page */
@media only screen and (min-width: 1025px) {

  .characteristics__grid {
    /* gap: .2rem; */
    width: 45rem;
    height: 45vh;
    font-size: 3rem;
  }

  .grid__top-right, .grid__top-left {
    height: 20vh;
  }

  .for {
    font-size: 2rem;
  }

  .for::before, .for::after {
    display: inline-block;
    content: '';
    height: .2rem;
    width: 40%;
    background: var(--colorSecondary);
    margin: .2rem 1rem;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__container {

    & .characteristics__title {
      font-size: 2.5rem;
    }

    & .characteristics__img {
      width: 45vw;
    }

    & p {
      width: 50vw;
      font-size: var(--fontBig);
      line-height: 1.6;
    }
  }
}

/* Big Desktop landing page */
@media only screen and (min-width: 1250px) {

  .characteristics__container {

    & .characteristics__img {
      width: 40vw;
    }
  }
}
