/* Characteristics css */

.characteristics__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'left right'
    'for for'
    'advertising advertising'
    'announcements announcements'
    'displays displays';
  width: 60vw;
  height: 30vh;
  margin: 20vh auto;
  color: var(--colorSecondary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

.grid__top-left {
  grid-area: left;
  border-right: .4rem dotted var(--colorSecondary);
}

.grid__top-right {
  grid-area: right;
}

.bold, .face, .softer {
  color: var(--colorMain);
}

.for {
  grid-area: for;
  font-size: 1rem;
  margin: auto;
  width: 100%;
}

.for::before, .for::after {
  display: inline-block;
  content: '';
  height: .2rem;
  width: 25%;
  background: var(--colorSecondary);
  margin: .2rem 1rem;
}

.advertising {
  grid-area: advertising;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.announcements {
  grid-area: announcements;
  color: var(--colorMain);
}

.displays {
  grid-area: displays;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.characteristics__text {
  margin: 0 auto 10vh;
  /* width: 95vw; */

  & .characteristics__title {
    font-size: 1.5rem;
    margin: 0 auto 5vh;
    color: var(--colorSecondary);
    text-align: center;
  }

  & .characteristics__img {
    height: 30vh;
    background-color: white;
    margin: 2vh auto;
  }
}

.characteristics__text > p {
  margin: 1vh auto;
  width: 80vw;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .characteristics__grid {
    gap: .5rem;
    height: 40vh;
    width: 35rem;
    font-size: 3rem;
  }

  .for::before, .for::after {
    width: 40%;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__text {
    width: 30rem;

    & .characteristics__title {
      font-size: 2rem;
    }

    & p {
      width: 100%;
      font-size: var(--fontMedium);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .characteristics__grid {
    gap: .2rem;
    width: 35rem;
    font-size: 3rem;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__text {
    width: 30rem;

    & .characteristics__title {
      font-size: 2rem;
    }

    & p {
      width: 100%;
    }
  }
}

/* Desktop landing page */
@media only screen and (min-width: 1025px) {

  .characteristics__grid {
    /* gap: .2rem; */
    width: 35rem;
    height: 40vh;
    font-size: 3rem;
  }

  .for::before, .for::after {
    display: inline-block;
    content: '';
    height: .2rem;
    width: 40%;
    background: var(--colorSecondary);
    margin: .2rem 1rem;
  }

  .advertising, .displays {
    width: 100%;
  }

  .characteristics__text {
    width: 35rem;

    & .characteristics__title {
      font-size: 2.5rem;
    }

    & p {
      width: 100%;
      font-size: var(--fontBig);
      line-height: 2rem;
    }
  }
}

/* here an ::after as well for a line under title*/
