
.end__quote {
  height: 40vh;
  width: 90vw;
  margin: auto;
  text-align: center;
  color: var(--colorMain);
  font-style: italic;

  & p {
    font-size: var(--fontBig);
    margin: 2vh 0;
  }

  & .quote__middle {
    border-top: .4rem solid var(--colorSecondary);
    border-bottom: .4rem solid var(--colorSecondary);
    color: var(--colorSecondary);

    & p {
      margin: 2vh;
    }
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .end__quote {
    height: 60vh;

    & p {
      font-size: 3.5rem;
      margin: 4vh;
    }

    & .quote__middle {
      padding: 2vh;
    }
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .end__quote {
    height: 80vh;

    & p {
      font-size: 5rem;
      margin: 6vh;
    }

    & .quote__middle {
      padding: 2vh;
    }
  }
}
