
.footer {
  position: relative;
  width: 100vw;
  background-color: black;
  margin: 0 auto;
}

.oval-footer {
  position: absolute;
  top: -40vh;
  width: 100vw;
  height: 10vh;
  filter: blur(3.5rem);
  background-color: var(--colorSecondary);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* transform: rotate(180deg); */
  z-index: -1;
}

.footer__container {
  border-top: .2rem solid var(--colorMain);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colorMain);
  padding: 1vh 0;

  & a {
    text-decoration: none;
    color: var(--colorMain);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vh;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vh;
  }
}
