.landing-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'land-img'
    'land-txt';
  background-image: url(../assets/img/bgMobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.img__billboard {
  position: absolute;
  left: 5vw;
  top: 10%;
  width: auto;
  height: 50vh;
}

.landing__img {
  grid-area: land-img;
  height: 65vh;
  display: flex;
  align-items: center;
}

.landing__text-bg {
  grid-area: land-txt;
  background-color: var(--colorBg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100vw;
}

.landing-text {
  margin: auto;

  & .landing__text-content {
    width: 80vw;
    margin: 5vh auto 0;
    font-size: var(--fontRegular);
  }

  & .read-more {
    margin: auto;
    text-align: center;
    color: var(--colorMain);
  }
}

.splitting .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(3ms * var(--char-index) + 1000ms);
}

@keyframes slide-in {

  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}

.read-more > p {
  margin: 5vh auto .1rem;
  font-size: var(--fontSmall);
  text-transform: uppercase;
}

.read-more > i {
  font-size: var(--fontSmall);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .landing-page {
    background-image: url(../assets/img/bgTablet.png);
  }

  .img__billboard {
    left: 3vw;
    top: 10%;
    width: auto;
    height: 50vh;
  }

  .landing-text {

    & .landing__text-content {
      font-size: var(--fontMedium);
    }
  }

  .read-more > p {
    font-size: var(--fontMedium);
  }

  .read-more > i {
    font-size: var(--fontMedium);
  }
}

/* Tablet landscape*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .landing-page {
    background-image: url(../assets/img/bgTabletportrait.png);
  }

  .img__billboard {
    width: 15vw;
    height: auto;
    margin-left: .2rem;
  }

  .landing-text {

    & .landing__text-content {
      font-size: var(--fontMedium);
    }
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {

  .landing-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    grid-template-areas:
      'land-txt land-img ';
    background-image: url(../assets/img/bgDesktop.png);
    background-position: 22rem;
  }

  .landing__img {
    grid-area: land-img;
    margin: auto 0;
  }

  .img__billboard {
    left: 39vw;
    top: 10%;
    width: auto;
    height: 80vh;
  }

  .landing__text-bg {
    grid-area: land-txt;
    height: 100vh;
    width: 40vw;
  }

  .landing-text {
    /* width: 35vw; */

    & .landing__text-content {
      width: 35vw;
      margin-top: 40vh;
      font-size: var(--fontBig);
      line-height: 2rem;
    }
  }

  .read-more {
    margin-top: 10vh;
  }

  .read-more > p {
    font-size: var(--fontMedium);
  }

  .read-more > i {
    font-size: var(--fontMedium);
  }
}
