/* Outlaws/Wanted section */

.outlaws__title {
  width: 80vw;
  margin: 20vh auto 10vh;
}

.outlaws__title > p {
  color: var(--colorMain);
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font);
}

.outlaws__title > h2 {
  margin: 0 auto;
  border: .2rem solid var(--colorMain);
  border-radius: .5rem;
  padding: 2vh 1vh 1vh;
  text-align: center;
}

.outlaws__wanted-poster {
  margin: 0 auto;
}

.h2__western {
  font-size: 3rem;
  text-align: center;
}

.wanted-poster__content {
  position: relative;
  border-top: .2rem solid var(--colorMain);
  border-bottom: .2rem solid var(--colorMain);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 2fr .5fr .5fr .5fr;
  grid-auto-flow: row;
  grid-template-areas:
    'doa'
    'wanted__img'
    'wanted__fonts'
    'wanted__clarendon'
    'wanted__reward';
  width: 80vw;
  height: 60vh;
  margin: auto;
}

.wanted__doa {
  grid-area: doa;
  color: var(--colorMain);
  font-size: var(--fontMedium);
  text-align: center;
  text-transform: uppercase;
  margin-top: 3vh;
}

.wanted__img {
  grid-area: wanted__img;
  width: 80vw;
  height: auto;
}

.wanted__fonts {
  grid-area: wanted__fonts;
  width: 80vw;
  height: 50%;
}

.wanted__clarendon {
  grid-area: wanted__clarendon;
  text-align: center;
  font-size: var(--fontBig);
  text-transform: uppercase;
  color: var(--colorSecondary);
  margin: 0;
}

.wanted__reward {
  grid-area: wanted__reward;
  color: var(--colorMain);
  text-transform: uppercase;
  font-size: var(--fontBig);
  font-weight: bold;
  text-align: center;
  margin: auto;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .outlaws__title > p {
    font-size: var(--fontMedium);
  }

  .outlaws__title > h2 {
    font-size: 3rem;
  }

  .h2__western {
    font-size: 4rem;
  }

  .wanted-poster__content {
    height: 80vh;

    & .wanted__doa {
      font-size: var(--fontBig);
    }

    & .wanted__clarendon {
      font-size: 2rem;
    }

    & p {
      font-size: var(--fontMedium);
    }

    & .wanted__reward {
      font-size: 2rem;
    }
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .outlaws__title > p {
    font-size: var(--fontBig);
  }

  .outlaws__title > h2 {
    font-size: 5rem;
  }

  .h2__western {
    font-size: 6rem;
  }

  .outlaws__wanted-poster {

    & .wanted-poster__content {
      grid-template-rows: repeat(5, 1fr);
      height: 100vh;
    }

    & .wanted__img {
      justify-self: center;
      width: 50vw;
      margin-bottom: 1vh;
    }

    & .wanted__doa {
      font-size: 3rem;
    }

    & .wanted__fonts {
      width: 50vw;
      margin: 0 auto;
    }

    & .wanted__clarendon {
      font-size: 3rem;
      /* margin: 5vh; */
    }

    & p {
      font-size: var(--fontBig);
    }

    & .wanted__reward-amount {
      font-size: 3rem;
    }

    & .wanted__reward {
      font-size: 3rem;
      text-align: end;
    }
  }
}

/* Big Desktop landing page */
@media only screen and (min-width: 1250px) {

  .wanted__img {
    width: 40vw;
  }
}
