:root {
  --colorBg: #011126;
  --colorText: white;
  --colorMain: #ff8000;
  --colorSecondary: #1c8da6;
  --colorBlack: black;
  /* --colorGray: #fafafa;
  --colorGrayDark: #9c9c9c; */
  --spacerSmall: .75rem; /* 12px */
  --spacerRegular: 1rem; /* 16px */
  --spacerBig: 1.88rem; /* 30px */
  --fontSmall: .75rem; /* 12px */
  --fontRegular: 1rem; /* 16px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 1.5rem; /* 28px */
  --font: 'clarendon-text-pro', serif;
  --fontText: 'Helvetica', 'Arial', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
}
