:root {
  --colorBg: #011126;
  --colorText: white;
  --colorMain: #ff8000;
  --colorSecondary: #1c8da6;
  /* --colorGray: #fafafa;
  --colorGrayDark: #9c9c9c; */
  --spacerSmall: .75rem; /* 12px */
  --spacerRegular: 1rem; /* 16px */
  --spacerBig: 1.88rem; /* 30px */
  --fontSmall: .75rem; /* 12px */
  --fontRegular: 1.13rem; /* 18px */
  --fontMedium: 1.25rem; /* 20px */
  --fontBig: 1.75rem; /* 28px */
  --font: 'clarendon-text-pro', serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
}

html {
  background-color: var(--colorBg);
  color: white;
}

h1 {
  font-size: 6rem;
  color: var(--colorMain);
  text-align: center;
}

h2 {
  font-size: 4rem;
  color: var(--colorMain);
  text-transform: uppercase;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  width: 100vw;
}

section {
  min-height: 100vh;
  width: 100vw;
}

/* landing page css */

.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'land-img'
    'land-txt';
}

.landing__title {
  grid-area: land-img;
  margin: 10vh auto;
}

.landing__text-bg {
  grid-area: land-txt;
  background-color: brown;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.landing-text {
  width: 50vw;
  min-height: 10vh;
  background-color: aqua;
  margin: auto;
}

.landing__text-content {
  margin: auto;
  font-size: 1.5rem;
}

.read-more {
  margin: auto;
  text-align: center;
}

/* Besley info css */

.section__creator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    'creator__title'
    'creator__content'
    'creator__banner';
}

.creator__title {
  grid-area: creator__title;
  margin: 10vh auto 0;
  padding-top: 10vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__clarendon {
  text-decoration: underline;
}

.creator__title > p {
  color: var(--colorMain);
  font-size: 2rem;
  text-align: center;
  margin: 1vh auto;
}

.creator__content {
  grid-area: creator__content;
  margin: 0 auto;
  width: 50vw;
  background-color: aqua;
}

.creator__banner {
  grid-area: creator__banner;
  align-self: flex-end;
  width: 100vw;
  min-height: 5vh;
  margin: 0 auto;
  border-top: .3rem solid var(--colorSecondary);
  border-bottom: .3rem solid var(--colorSecondary);
}

.banner__content {
  font-size: 1.5rem;
  text-align: center;
}

/* Characteristics css */

/* .section__characteristics {
  min-
} */

.characteristics__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'bold with'
    'display softer'
    'face side'
    'for for'
    'advertising advertising'
    'announcements announcements'
    'displays displays';
}

.bold { grid-area: bold; }

.display { grid-area: display; }

.face { grid-area: face; }

.with { grid-area: with; }

.softer { grid-area: softer; }

.side { grid-area: side; }

.for { grid-area: for; }

.advertising { grid-area: advertising; }

.announcements { grid-area: announcements; }

.displays { grid-area: displays; }

.nft-why__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'why'
    'clarendon'
    'as-nft';
}

.why { grid-area: why; }

.clarendon { grid-area: clarendon; }

.as-nft { grid-area: as-nft; }
