
/* what is nft css */

.nft__quote-mobile {
  width: 90vw;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  /* margin: auto; */
  text-transform: uppercase;
}

.section__nft > .creator__lines {
  display: none;
}

.nft__text-mobile > p {
  font-size: var(--fontBig);
  font-style: italic;
  margin: 0;
  line-height: 2rem;
  text-align: right;
}

.nft__quote-desktop {
  display: none;
}

.nft__container {
  width: 80vw;
  margin: auto;
}

.nft__img {
  height: 30vh;
  background-color: white;
  margin: 0 auto;
}

.nft__text-container {
  margin: 0 auto;
}

.nft__text-title {
  display: none;
}

.nft__text {
  font-size: var(--fontMedium);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .nft__quote-mobile {
    display: none;
  }

  .nft__title {
    display: none;
  }

  .nft__quote-desktop {
    height: 50vh;
    width: 90vw;
    text-align: right;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & .nft__actual-quote {
      font-size: 1.75rem;
      font-family: var(--font);
      font-style: italic;
      margin: 1vh 0;
      text-decoration: underline;
      text-decoration-color: red;
      text-transform: uppercase;
    }

    & .quote__author {
      font-size: 1rem;
      text-decoration: none;
    }

    & .nft__img, .nft__text {
      width: 30rem;
    }
  }

  .section__nft > .creator__lines {
    display: block;
    margin-bottom: 10vh;
  }

  .nft__text-title {
    display: block;
    color: var(--colorSecondary);
    font-size: 3rem;
    letter-spacing: .1rem;
    margin: 5vh auto;
    text-decoration: underline;
    text-align: center;

    & br {
      display: none;
    }

    & span {
      text-decoration: none;
    }
  }

  .nft__text > p {
    font-size: var(--fontMedium);
    line-height: 1.4;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .nft__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: 80vh;
    align-items: center;

    & p {
      width: 40vw;
    }
  }

  .nft__text-container {
    width: 40vw;
    margin: 0;
  }

  .nft__img {
    margin: 0;
  }

  .nft__text-title {
    font-size: 4rem;

    & br {
      display: block;
    }

    & span {
      text-decoration: underline;
    }
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .nft__bg {
    width: 100vw;
  }

  .nft__quote-desktop {
    height: 80vh;
    width: 90vw;
    text-align: right;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & .nft__actual-quote {
      font-size: 2.6rem;
      font-family: var(--font);
      font-style: italic;
      margin: 1vh 0;
      text-decoration: underline;
      text-decoration-color: red;
      text-transform: uppercase;
    }

    & .quote__author {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  .section__nft > .creator__lines {
    display: block;
    margin-bottom: 10vh;
  }

  .nft__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: 80vh;
    align-items: center;

    & p {
      width: 40vw;
    }
  }

  .nft__text-container {
    width: 40vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.2rem;
  }

  .nft__img {
    width: 30rem;
    height: 30rem;
    margin: 0;
  }

  .nft__text-title {
    display: block;
    color: var(--colorSecondary);
    font-size: 4rem;
    letter-spacing: .1rem;
    margin: 5vh auto;

    & br {
      display: block;
    }

    & span {
      text-decoration: underline;
    }
  }

  .nft__text {
    font-size: var(--fontBig);
    margin: 2vh auto;
    line-height: 1.6;
  }

  .nft__quote-mobile, .nft__title {
    display: none;
  }
}
