
/* what is nft css */

.nft__quote-mobile {
  width: 90vw;
  margin: 20vh auto 5vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  /* margin: auto; */
  text-transform: uppercase;
}

.section__nft > .creator__lines {
  display: none;
}

.nft__text-mobile > p {
  font-size: var(--fontBig);
  font-style: italic;
  margin: 0;
  line-height: 2rem;
  text-align: right;
}

.nft__quote-desktop {
  position: relative;
  display: none;
  height: 50vh;

  & .vertical-oval {
    position: absolute;
    top: 0;
    height: 10vh;
    width: 50vw;
    margin-top: 30vh;
    filter: blur(7.5rem);
    background-color: var(--colorPurple);
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: -1;
  }

  & .oval-left {
    left: -28vw;
    transform: rotate(90deg);
  }

  & .oval-right {
    right: -28vw;
    transform: rotate(-90deg);
  }
}

.nft__container {
  margin-bottom: 25vh;
}

.nft__img {
  width: 80vw;
  height: auto;
}

.nft__text-container {
  width: 80vw;
  margin: 0 auto;
}

.nft__text-title {
  display: none;
}

.nft__text {
  font-size: var(--fontMedium);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .nft__quote-mobile {
    display: none;
  }

  .nft__title {
    display: none;
  }

  .nft__quote-desktop {
    height: 50vh;
    width: 90vw;
    text-align: right;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & .vertical-oval {
      top: -10vh;
    }

    & .nft__actual-quote {
      font-size: 1.75rem;
      font-family: var(--font);
      font-style: italic;
      margin: 1vh 0;
      text-decoration: underline;
      text-decoration-color: var(--colorMain);
      text-transform: uppercase;
    }

    & .quote__author {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  .section__nft > .creator__lines {
    display: block;
    margin-bottom: 10vh;
  }

  .nft__container {
    display: flex;
    margin: 30vh 0;
  }

  .nft__img, .nft__text-container {
    width: 40vw;
  }

  .nft__text-title {
    display: block;
    color: var(--colorSecondary);
    font-size: 3rem;
    letter-spacing: .1rem;
    margin: 5vh auto;
    text-decoration: underline;
    text-align: center;
    /*
    & br {
      display: none;
    } */

    & span {
      text-decoration: none;
    }
  }

  .nft__text > p {
    font-size: var(--fontMedium);
    line-height: 1.4;
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .nft__bg {
    width: 100vw;
  }

  .nft__quote-desktop {
    height: 80vh;
    width: 90vw;
    text-align: right;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    & .nft__actual-quote {
      font-size: 2.6rem;
      font-family: var(--font);
      font-style: italic;
      margin: 1vh 0;
      text-decoration: underline;
      text-decoration-color: var(--colorSecondary);
      text-transform: uppercase;
    }

    & .quote__author {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  .section__nft > .creator__lines {
    display: block;
    margin-bottom: 10vh;
  }

  .nft__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
    align-items: center;
    margin: 35vh 0;

    & p {
      width: 40vw;
    }
  }

  .nft__text-container {
    width: 50vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 2.2rem;
  }

  .nft__img {
    width: 40vw;
  }

  .nft__text-title {
    display: block;
    color: var(--colorSecondary);
    font-size: 3.5rem;
    letter-spacing: .1rem;
    margin: 0;
    text-decoration: underline;

    & br {
      display: none;
    }
  }

  .nft__text {
    font-size: var(--fontBig);
    /* margin: 2vh auto; */
    line-height: 1.6;
  }

  .nft__quote-mobile, .nft__title {
    display: none;
  }
}

/* Big Desktop landing page */
@media only screen and (min-width: 1250px) {

  .nft__img {
    width: 35vw;
  }
}
