
/* Why NFT section */

.nft-why__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-auto-flow: row;
  grid-template-areas:
    'why'
    'clarendon'
    'as-nft';
  width: 90vw;
  margin: 10vh auto;
  color: var(--colorMain);
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;

  & .why { grid-area: why; }

  /* again ::before & ::after for line */

  & .as-nft { grid-area: as-nft; }
}

.clarendon {
  grid-area: clarendon;
  color: var(--colorSecondary);
  font-size: 1rem;
  margin: auto;
  font-weight: bold;
  width: 100%;
}

.clarendon::before, .clarendon::after {
  display: inline-block;
  content: '';
  height: .2rem;
  width: 25%;
  background: var(--colorSecondary);
  margin: .4rem 1rem;
}

.why__reasons {
  width: 80vw;
  margin: 0 auto;

  & .picture__container {
    grid-area: reasons__img;
    text-align: center;
    margin: auto;
  }
}

ol {
  list-style-type: decimal;
  margin-top: 7vh;
}

li {
  line-height: 1.2;
}

ol > li:nth-child(2) {
  margin: 5vh 0;
  font-style: var(--fontText);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .nft-why__grid {
    font-size: 8rem;
    margin: 20vh auto;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {

    & ol {
      margin-top: 10vh;
    }

    & li {
      font-size: var(--fontMedium);
      line-height: 1.4;
    }

    & ol > li:nth-child(2) {
      margin: 5vh 0;
      font-style: var(--fontText);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .nft-why__grid {
    font-size: 8rem;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {
    display: flex;
    align-items: center;

    & li {
      font-size: var(--fontMedium);
      line-height: 1.4;
    }
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .nft-why__grid {
    font-size: 8rem;
    margin-bottom: 20vh;
    letter-spacing: .5rem;
    font-weight: bold;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {
    display: flex;
    align-items: center;
    width: 90vw;

    & .picture__container {
      width: 45vw;
    }

    & ol {
      width: 45vw;
    }

    & li {
      font-size: var(--fontBig);
      line-height: 2rem;
      line-height: 1.6;
    }

    & ol > li:nth-child(2) {
      margin: 10vh 0;
      font-style: var(--fontText);
    }
  }
}
