
/* Why NFT section */

.section__why {
  position: relative;
}

.oval {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 30vh;
  background-color: #2fc4d9;
  filter: blur(15.5rem);
  border-radius: 50%;
  z-index: -1;
}

.nft-why__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-auto-flow: row;
  grid-template-areas:
    'why'
    'clarendon'
    'as-nft';
  width: 90vw;
  height: 30vh;
  margin: 10vh auto;
  color: var(--colorMain);
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;

  & .why {
    grid-area: why;
    margin: auto;
  }

  /* again ::before & ::after for line */

  & .as-nft {
    grid-area: as-nft;
    margin: auto;
  }
}

.clarendon {
  grid-area: clarendon;
  color: var(--colorMain);
  font-size: 1rem;
  margin: auto;
  font-weight: bold;
  width: 100%;
}

.clarendon::before, .clarendon::after {
  display: inline-block;
  content: '';
  height: .2rem;
  width: 15%;
  background: var(--colorSecondary);
  margin: .4rem 1rem;
}

.why__reasons {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 2000px;
}

.reasons__img {
  transform-style: preserve-3d;
  width: 60vw;
  height: auto;
  margin: 0 auto;
  transform: none;
  transition: none;
}

ol {
  list-style-type: decimal;
  margin-top: 7vh;
}

li {
  line-height: 1.2;
}

ol > li:nth-child(2) {
  margin: 5vh 0;
  font-style: var(--fontText);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .nft-why__grid {
    height: 40vh;
    font-size: 8rem;
    margin: 20vh auto;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {
    width: 90vw;
    margin: 0 auto;

    & ol {
      width: 70vw;
      margin: 10vh auto;
    }

    & li {
      font-size: var(--fontBig);
      line-height: 1.4;
    }

    & ol > li:nth-child(2) {
      margin: 5vh 0;
      font-style: var(--fontText);
    }
  }
}

/* Tablet landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .nft-why__grid {
    height: 40vh;
    font-size: 8rem;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;

    & ol {
      width: 45vw;
    }
  }

  .reasons__img {
    width: 45vw;
  }
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .nft-why__grid {
    height: 40vh;
    font-size: 8rem;
    margin-bottom: 20vh;
    letter-spacing: .5rem;
    font-weight: bold;

    & .clarendon {
      font-size: 2rem;
    }
  }

  .why__reasons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;

    & ol {
      width: 45vw;
      margin-top: 0;
    }

    & li {
      font-size: var(--fontBig);
      line-height: 2rem;
      line-height: 1.6;
    }
  }

  .reasons__img {
    width: 40vw;
  }
}

/* Big Desktop landing page */
@media only screen and (min-width: 1250px) {

  .reasons__img {
    width: 30vw;
  }
}
