@import './css/reset.css';
@import './css/vars.css';
@import './css/landing.css';
@import './css/besley.css';
@import './css/characteristics.css';
@import './css/what.css';
@import './css/whynft.css';
@import './css/outlaw.css';
@import './css/bounty.css';
@import './css/endquote.css';
@import './css/slanted.css';
@import './css/footer.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
  background-color: var(--colorBg);
  color: white;
  font-size: var(--fontRegular);
  margin: 0;
}

/* .container {
  width: 100vw;
} */

h1 {
  font-size: 2.5rem;
  color: var(--colorMain);
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  font-size: var(--fontBig);
  color: var(--colorMain);
  text-transform: uppercase;
  margin: 0 auto;
}

h3 {
  font-size: 5rem;
  color: var(--colorSecondary);
  text-transform: uppercase;
  margin: 0 auto;
}

.colorMain {
  color: var(--colorMain);
}

.colorSecondary {
  color: var(--colorSecondary);
}

section {
  min-height: 100vh;
  width: 100vw;
}

p {
  font-family: var(--fontText);
  font-size: var(--fontRegular);
  letter-spacing: .1rem;
  line-height: 1.4rem;
}

.orange {
  color: var(--colorMain);
}

.small {
  font-size: var(--fontSmall);
  /* font-size: .5rem; */
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.border-bottom {
  border-bottom: .2rem solid var(--colorSecondary);
  padding-bottom: 1rem;
}
