@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
  background-color: var(--colorBg);
  color: white;
  font-size: var(--fontRegular);
}

/* .container {
  width: 100vw;
} */

h1 {
  font-size: 2rem;
  color: var(--colorMain);
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  font-size: var(--fontBig);
  color: var(--colorMain);
  text-transform: uppercase;
  margin: 0 auto;
}

h3 {
  font-size: 2rem;
  color: var(--colorSecondary);
  text-transform: uppercase;
  margin: 0 auto;
}

.colorMain {
  color: var(--colorMain);
}

.colorSecondary {
  color: var(--colorSecondary);
}

/* main {
  min-height: 100vh;
  width: 100vw;
} */

section {
  min-height: 100vh;
  width: 100vw;
}

p {
  font-size: var(--fontRegular);
  letter-spacing: .1rem;
  line-height: 1.2rem;
}

/* landing page css */

.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'land-img'
    'land-txt';
  background-image: url(../assets/img/neonMobile.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.landing__img {
  grid-area: land-img;
  height: 65vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

img, source {
  width: 100%;
  height: auto;
  /* margin: auto 5vh; */
}

.landing__text-bg {
  grid-area: land-txt;
  background-color: rgba(0, 0, 0, .5);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100vw;
}

.landing-text {
  /* min-height: 10vh; */
  margin: auto;
}

.landing__text-content {
  width: 80vw;
  margin: 5vh auto 0;
  font-size: var(--fontRegular);
}

.read-more {
  margin: auto;
  text-align: center;
  color: var(--colorMain);
}

.read-more > p {
  margin: 5vh auto .1rem;
  font-size: var(--fontSmall);
  text-transform: uppercase;
}

.read-more > i {
  font-size: var(--fontSmall);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .landing-page {
    background-image: url(../assets/img/neonTabletPortrait.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .landing-page {
    background-image: url(../assets/img/neonTablet.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* Desktop landing page */
@media only screen and (min-width: 1025px) {

  .landing-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'land-txt land-img ';
    background-image: url(../assets/img/neonDesktop.png);
    background-repeat: no-repeat;
  }

  .landing__title {
    grid-area: land-img;
    margin: auto;
  }

  .landing__text-bg {
    grid-area: land-txt;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  .landing-text {
    width: 35vw;
  }

  .landing__text-content {
    margin-top: 40vh;
    text-align: center;
  }

  .read-more {
    margin-top: 10vh;
  }
}

/* Besley info css */

.section__creator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    'creator__title'
    'creator__content'
    'creator__banner';
  height: 100vh;
  width: 100vw;
}

.creator__lines {
  height: 2vh;
  width: 100vw;
  border-top: .2rem solid var(--colorSecondary);
  border-bottom: .4rem solid var(--colorSecondary);
}

.creator__title {
  grid-area: creator__title;
  margin: 10vh auto 0;
  padding-top: 10vh;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__clarendon {
  text-decoration: underline;
}

.creator__title > p {
  color: var(--colorMain);
  font-size: var(--fontSmall);
  text-align: center;
  margin: 1vh auto;
}

.creator__content {
  grid-area: creator__content;
  margin: 0 auto;
  width: 80vw;
  font-size: var(--fontRegular);
  text-align: center;
}

.creator__banner {
  grid-area: creator__banner;
  align-self: flex-end;
  /* width: 100vw; */
  height: 7vh;
  /* margin: 0 auto 2vh; */
  border-top: .3rem solid var(--colorSecondary);
  border-bottom: .3rem solid var(--colorSecondary);
}

.banner__content {
  height: 5vh;
  width: 100vw;
  font-size: 1.5rem;
  /* text-align: center; */
  overflow: hidden;
  margin: 0;
  line-height: 2rem;
}

/* Characteristics css */

.characteristics__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'bold with'
    'display softer'
    'face side'
    'for for'
    'advertising advertising'
    'announcements announcements'
    'displays displays';
  width: 80vw;
  margin: 25vh auto;
  color: var(--colorSecondary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

.bold {
  grid-area: bold;
  color: var(--colorMain);
}

.display { grid-area: display; }

.face {
  grid-area: face;
  color: var(--colorMain);
}

.with { grid-area: with; }

.softer {
  grid-area: softer;
  color: var(--colorMain);
}

.side { grid-area: side; }

.for {
  grid-area: for;
  font-size: 1rem;
  margin: auto;
}

/* here need ::before & ::after line */

.advertising {
  grid-area: advertising;
  display: flex;
  justify-content: space-between;
}

.announcements {
  grid-area: announcements;
  color: var(--colorMain);
}

.displays {
  grid-area: displays;
  display: flex;
  justify-content: space-between;
}

.characteristics__text {
  margin: 0 auto;
  /* width: 95vw; */
}

.characteristics__title {
  font-size: 1.5rem;
  margin: 0 auto;
  color: var(--colorSecondary);
  text-align: center;
}

.characteristics__text > p {
  margin: 5vh auto 25vh;
  width: 80vw;
}

/* here an ::after as well for a line under title*/

/* what is nft css */

.section__nft {
  display: flex;
  flex-direction: column;
}

.nft__quote-mobile {
  font-size: 2rem;
  font-style: italic;
  width: 50vw;
  margin: 10vh auto;
  text-align: center;
  text-transform: uppercase;
}

.nft__quote > p {
  margin: 0;
}

.nft__quote > p:nth-child(2) {
  margin: 2vh auto;
}

.nft__quote-desktop {
  display: none;
}

.nft__title {
  margin-bottom: 10vh;
}

.nft__text {
  width: 30vw;
  margin: 0 auto;
}

/* tabs not working? */

.nft-tab1 {
  tab-size: 2;
}

.nft-tab2 {
  tab-size: 4;
}

/* Desktop what is NFT? */
@media only screen and (min-width: 1025px) {

  .nft__quote-mobile {
    display: none;
  }

  .nft__quote-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    width: 80vw;
    margin: 45vh auto;
    text-transform: uppercase;
  }

  .nft__quote-desktop > p {
    font-size: 4rem;
    width: 100%;
    text-align: right;
    margin: .2rem;
  }

  .nft__quote-desktop > .quote__author {
    font-size: 1rem;
  }

  .nft__title {
    display: none;
  }
}

/* Why NFT section */

.nft-why__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-auto-flow: row;
  grid-template-areas:
    'why'
    'clarendon'
    'as-nft';
  width: 50vw;
  margin: 10vh auto;
  color: var(--colorMain);
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
}

.why { grid-area: why; }

/* again ::before & ::after for line */

.clarendon {
  grid-area: clarendon;
  color: var(--colorSecondary);
  font-size: 1rem;
  margin: auto;
  font-weight: bold;
}

.as-nft { grid-area: as-nft; }

.why__reasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'reasons__img'
    'reasons__n1'
    'reasons__n2'
    'reasons__n3';
  width: 30vw;
  margin: 0 auto;
}

.reasons__img {
  grid-area: reasons__img;
}

/* for numbering behind alinea, ::before? */

.reasons__n1 {
  grid-area: reasons__n1;
}

.reasons__n2 {
  grid-area: reasons__n2;
}

.reasons__n3 {
  grid-area: reasons__n3;
}
